APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change_me

DATABASE_URL_TS=mysql://root:password@mysql:3306/msc-app-ts
DATABASE_URL_RS=mysql://root:password@mysql:3306/msc-app-rs
DATABASE_URL_MASTER=mysql://root:password@mysql:3306/Master
DATABASE_URL_SNT=mysql://root:password@mysql:3306/msc-app-snt
DATABASE_URL_ISSEMYM=mysql://root:password@mysql:3306/msc-app-issemym


CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me
CREDENTIAL_JWT_TTL=300
FIREBASE_CREDENTIALS=%kernel.project_dir%/config/firebase/firebase_credentials.json

TWILIO_ACCOUNT_SID=change_me
TWILIO_AUTH_TOKEN=change_me
TWILIO_WHATSAPP_NUMBER=whatsapp:+1234567890
TWILIO_PHONE_NUMBER=+1234567890
WHATSAPP_API_URL=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=

MAILER_DSN=smtps://user:pass@smtp.example.com:465
SMTP_USERNAME=user@example.com
SMTP_PASSWORD=password



EXPO_ACCESS_TOKEN=change_me
LOCK_DSN=mysql://root:password@mysql:3306/msc-app-ts

###> symfony/mercure-bundle ###
MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
MERCURE_JWT_SECRET=change_me
###< symfony/mercure-bundle ###

APP_URL_DEV=http://localhost:8004
APP_URL_PROD=https://example.com
